.body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgba(240, 220, 191, 0.978);
}
.info_add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    border: 2px solid #000;
    border-radius: 8px;
    justify-content: space-around;
    padding: 15px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}
.img{
    height: 200px;
    width: 200px;
    border-radius: 8px;
}
#relacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
#meme{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}